<h2>Your answers:</h2>

<% @answer.each_with_index do |a, index| %>
	<p><b><%="#{index+1}) #{a.body}" %></b></p>

		<% @question = Question.find_by(id: a.question_id) %>

		<% # if question still exist, then show question %>
		<% if !@question.nil? %>
			<p>&nbsp &nbsp <a href="/questions/<%=@question.id%>">
			Question: <%= @question.body %></a></p>
		<% end %>


<% end %>